doctype html
html(lang="en")
  head
    title!= pagetitle
    include ./includes.jade
  body
    h1 Search Cards
    #container.col
      else
      form(name="cardSearch", action="/card-view", method="post")
        label(name="Searchterm") Card Search
        input(type="text", name="searchterm")#searchtermfield
        input(type="submit", value="Search")